<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Tatanya Lynch</h1>
    <p>Hi. I am Tatanya Lynch. I am a computer science student. Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Corrupti fugiat ipsum blanditiis et aspernatur sed ea numquam, ratione quod hic 
        deleniti necessitatibus accusantium nesciunt deserunt tempora veniam quos quasi suscipit.
    </p>

</body>